@import "tailwindcss";

@theme {
  --font-display: "Bricolage Grotesque", sans-serif;
  --font-body: "Montserrat", sans-serif;

  --color-black: #0b0b0b;
  --color-white: #fafafa;
  --color-gray: #ababab;
  --color-linegray: #d9d9d9;
  --color-accent: #97ea8c;

  --spacing-gapSectionDesktop: 106px;
  --spacing-gapSectionMobile: 88px;
}

html,
body {
  @apply bg-white text-black;
}

@utility container {
  @apply max-w-[1536px] mx-auto px-6;
}

/* Typography */
/** Display Fonts */
@utility display-xl {
  @apply text-[clamp(40px,calc(40px+(80-40)*((100vw-320px)/(1536-320))),80px)] font-display font-semibold leading-none;
}
@utility display-l {
  @apply text-[clamp(36px,calc(36px+(48-36)*((100vw-320px)/(1536-320))),48px)] font-display font-semibold leading-none;
}
@utility display-m {
  @apply text-[clamp(24px,calc(24px+(40-24)*((100vw-320px)/(1536-320))),40px)] font-display font-semibold leading-none;
}
@utility display-base {
  @apply text-[24px] font-display font-medium leading-none;
}
@utility display-s {
  @apply text-[clamp(12px,calc(12px+(16-12)*((100vw-320px)/(1536-320))),16px)] font-display font-semibold leading-none;
}
/** Body Fonts */
@utility body-xl {
  @apply text-[clamp(16px,calc(16px+(80-16)*((100vw-320px)/(1536-320))),80px)] font-body  font-bold  sm:font-medium tracking-[-0.02em]  leading-none;
}
@utility body-l {
  @apply text-[clamp(16px,calc(16px+(48-16)*((100vw-320px)/(1536-320))),48px)] font-body  font-medium max-sm:leading-[1.3] leading-[1.1];
}
@utility body-l-bold {
  @apply text-[clamp(16px,calc(16px+(48-16)*((100vw-320px)/(1536-320))),48px)] font-body  font-semibold max-md:font-body max-sm:leading-[1.3] leading-[1.1];
}
@utility body-base {
  @apply text-[clamp(16px,calc(16px+(24-16)*((100vw-320px)/(1536-320))),24px)] font-body  font-medium leading-[1.3];
}
@utility body-s {
  @apply text-[clamp(12px,calc(12px+(16-12)*((100vw-320px)/(1536-320))),16px)] font-body  sm:font-medium font-medium leading-[1.3];
}
/** Small Links */
@utility small-link {
  @apply text-[16px] max-md:text-[12px] font-body font-medium  max-md:font-bold leading-none;
}

/* Basic Text Animation */

.text-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  height: auto;
}

.first-text {
  position: relative;
  z-index: 2;
  display: inline-block;
  filter: blur(0px);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  will-change: transform;
}

.second-text {
  position: absolute;
  display: inline-block;
  filter: blur(1px);
  transform: translateY(100%);
  top: 0;
  left: 0;
  z-index: 3;
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  will-change: transform;
}

.textBigContainer:hover .first-text {
  transform: translateY(-100%);
  filter: blur(1px);
}
.textBigContainer:hover .second-text {
  transform: translateY(0%);
  filter: blur(0px);
}

.menu-overlay {
  position: fixed; /* 🔥 instead of absolute */
  inset: 0;
  background: black;
  z-index: 100;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

/* Açık hali */
.menu-overlay.open {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* Hero Introduction */
.gap-first-pair {
  @apply flex w-full gap-[clamp(16px,calc(16px+(272-16)*((100vw-320px)/(1536-320))),272px)] max-md:flex-col;
}
.gap-second-pair {
  @apply flex w-full gap-[clamp(16px,calc(16px+(80-16)*((100vw-320px)/(1536-320))),80px)] max-md:flex-col-reverse;
}


